{% extends 'base.html' %}
{% load static %}
{% block content %}



    <br/>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="{% static 'img/1.png' %}" >
            </div>
            <div class="col col-4">

                    <h3 class="card-title">0 Melhor sistema de Help desk para empresas ERP</h3>
                    <p class="card-text">
                        Lucre com níveis mais elevados de produtividade e de retenção (ou conversão) de clientes
                        com nosso software de help desk . O custo-benefício é imbatível. Nosso software é a solução
                        perfeita para empresas de todos os tamanhos e setores.

                        Otimize todos os canais de comunicação e gerencie-os em uma única caixa de entrada
                        compartilhada. Aproveite as integrações com redes sociais, histórico ilimitado de consultas
                        a tickets, fluxo híbrido de tickets e muitas outras ferramentas
                        de produtividade.
                    </p>

            </div>
          </div>
    {% endblock %}

    <!-- Hero Area Start
      {% include 'hero.html' %}
     Hero Area End

     Services Section Start
    {% include 'servicos.html' %}
     Services Section End

     About Section start
    {% include 'about.html' %}
     About Section End

     Features Section Start
    {% include 'recursos.html' %}
     Features Section End

     Team Section Start
    {% include 'equipe.html' %}
     Team Section End

    Pricing section Start
    {% include 'precos.html'%}
    Pricing Table Section End
  
     Testimonial Section Start
    {% include 'clientes.html'%}
     Testimonial Section End

     Call To Action Section Start
    {% include 'chamada.html'%}
     Call To Action Section Start

     Contact Section Start
    {% include 'contato.html' %}
     Contact Section End

     Footer Section Start
    {% include 'footer.html'%}
    Footer Section End -->

