{% load bootstrap4%}
{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    {% bootstrap_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
        <!-- Menu Navbar-->
      <nav class="navbar navbar-dark bg-dark  navbar navbar-expand-lg  ">
          <a class="navbar-brand" href=" index">HelpDesk</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="vendas">Vendas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
              </li>
            </ul>



          </div>
      </nav>
    <br/>
    <!-- -----------Cadastrar produto modal-------------->
    <div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
         Cadastrar produto!
    </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cadastrar produtos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="container">
                {% bootstrap_messages %}

                <form action="{% url 'produto' %}" method="post" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    {% endbuttons %}
                </form>
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- -------------TABELAS DE PRODUTO----------- -->
    <div class="container">
        <h1>Produto</h1>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">Preço</th>
          <th scope="col">Estoque</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for produto in produtos %}
            <tr>
                <td scope="row">{{ produto.id }}</td>
            <td scope="row"><a href="#modal{{produto.id}}" data-toggle="modal">{{ produto.nome }}</a></td>
                <td scope="row">{{ produto.preco }}</td>
                <td scope="row">{{ produto.estoque }}</td>
            </tr>
            <div class="modal fade bd-example-modal-lg show" id="modal{{produto.id}}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="dynamic-content">
                            <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.nome}}">
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>